# Test Bokeh chart interaction

## Imports

In [1]:
import pandas as pd
import random
import string
from bokeh.embed import json_item
from bokeh.models import (BasicTicker, ColorBar, ColumnDataSource,
                          LinearColorMapper, BasicTickFormatter, BoxSelectTool, CustomJS, )
from bokeh.plotting import figure, show
from bokeh.transform import transform

## Prepare some data

In [2]:
letters = list(string.ascii_lowercase) + list(string.ascii_uppercase)
data = []
for i in range(0, 52):
    for j in range(0, 52):
        data.append([letters[i], f'{j}', random.randrange(100)])

chartdata = pd.DataFrame(columns=['x', 'y', 'z'], data=data)
chartdata

      x   y   z
0     a   0  61
1     a   1  18
2     a   2  70
3     a   3  68
4     a   4  54
...  ..  ..  ..
2699  Z  47  25
2700  Z  48  21
2701  Z  49  38
2702  Z  50  23
2703  Z  51  78

[2704 rows x 3 columns]

## Plot the chart

In [15]:
source = ColumnDataSource(chartdata)
colors = ["#B21F35", "#D82735", "#FF7435", "#FFA135", "#FFCB35", "#FFF735", "#16DD36", "#009E47",
          "#00753A"]
mapper = LinearColorMapper(palette=colors, low=0, high=100)

TOOLTIPS = [
                ("x, y: ", "@y, @x"),
                ("Value: ", "@z"),
            ]
p = figure(title=f"Test",
           x_range=chartdata['x'].drop_duplicates(),
           y_range=chartdata['y'].drop_duplicates(),
           toolbar_location='below', tools=[BoxSelectTool(dimensions='width')],
           x_axis_location="above", tooltips=TOOLTIPS)


p.rect(x='x', y='y', width=1, height=1, source=source, line_color=None,
       fill_color=transform('z', mapper))

color_bar = ColorBar(color_mapper=mapper,
                     ticker=BasicTicker(desired_num_ticks=len(colors)),
                     formatter=BasicTickFormatter())

p.add_layout(color_bar, 'right')

p.axis.axis_line_color = None
p.axis.major_tick_line_color = None
p.axis.major_label_text_font_size = "7px"
p.axis.major_label_standoff = 0
p.xaxis.major_label_orientation = 1.0

# When a range is selected on the chart, the form from and to dates should be updated


source.selected.js_on_change(
    "indices",
    CustomJS(
        args=dict(source=source),
        code="""
            var inds = cb_obj.indices;
            var data = source.data;
            var xstart = data['x'][inds[0]]
            var xend = ''
            
            // Try getting +1
            xend = data['x'][inds[inds.length - 1] +1 ]
             
            // If undefined, get last
            if (typeof(xend) == "undefined") {
                xend = data['x'][inds[inds.length - 1]]
            }
            alert('From: ' + xstart + ' To: ' + xend)
            """,
    ),
)

show(p)

# A candlestick chart

## Imports

In [5]:
from math import pi

import pandas as pd

import bokeh

from bokeh.plotting import figure, output_file, show

## Download some sample data

In [6]:
bokeh.sampledata.download()
from bokeh.sampledata.stocks import MSFT

Creating C:\Users\jlcas\.bokeh directory
Creating C:\Users\jlcas\.bokeh\data directory
Using data directory: C:\Users\jlcas\.bokeh\data
Downloading: CGM.csv (1589982 bytes)
   1589982 [100.00%]
Downloading: US_Counties.zip (3171836 bytes)
   3171836 [100.00%]
Unpacking: US_Counties.csv
Downloading: us_cities.json (713565 bytes)
    713565 [100.00%]
Downloading: unemployment09.csv (253301 bytes)
    253301 [100.00%]
Downloading: AAPL.csv (166698 bytes)
    166698 [100.00%]
Downloading: FB.csv (9706 bytes)
      9706 [100.00%]
Downloading: GOOG.csv (113894 bytes)
    113894 [100.00%]
Downloading: IBM.csv (165625 bytes)
    165625 [100.00%]
Downloading: MSFT.csv (161614 bytes)
    161614 [100.00%]
Downloading: WPP2012_SA_DB03_POPULATION_QUINQUENNIAL.zip (4816256 bytes)
   4816256 [100.00%]
Unpacking: WPP2012_SA_DB03_POPULATION_QUINQUENNIAL.csv
Downloading: gapminder_fertility.csv (64346 bytes)
     64346 [100.00%]
Downloading: gapminder_population.csv (94509 bytes)
     94509 [100.00%]
Downloading: gapminder_life_expectancy.csv (73243 bytes)
     73243 [100.00%]
Downloading: gapminder_regions.csv (7781 bytes)
      7781 [100.00%]
Downloading: world_cities.zip (645274 bytes)
    645274 [100.00%]
Unpacking: world_cities.csv
Downloading: airports.json (6373 bytes)
      6373 [100.00%]
Downloading: movies.db.zip (5053420 bytes)
   5053420 [100.00%]
Unpacking: movies.db
Downloading: airports.csv (203190 bytes)
    203190 [100.00%]
Downloading: routes.csv (377280 bytes)
    377280 [100.00%]
Downloading: haarcascade_frontalface_default.xml (930127 bytes)
    930127 [100.00%]

## View the MSFT sample data

In [8]:
df = pd.DataFrame(MSFT)[:50]
df["date"] = pd.to_datetime(df["date"])
df

         date    open    high     low   close     volume  adj_close
0  2000-03-01   89.62   94.09   88.94   90.81  106889800      33.68
1  2000-03-02   91.81   95.37   91.12   93.37  106932600      34.63
2  2000-03-03   94.75   98.87   93.87   96.12  101435200      35.65
3  2000-03-06   96.00   97.37   90.12   90.62   93609400      33.61
4  2000-03-07   96.12   97.50   91.94   92.87  135061000      34.45
5  2000-03-08   93.81   96.19   91.00   95.56   94290000      35.44
6  2000-03-09   95.31  100.00   95.00  100.00   88198800      37.09
7  2000-03-10   99.56  102.50   99.50  101.00   85589000      37.46
8  2000-03-13   97.62  100.25   97.50   98.00   61831800      36.35
9  2000-03-14   98.62   99.25   95.12   95.12   73489200      35.28
10 2000-03-15   94.56   96.62   93.69   95.37   53208000      35.37
11 2000-03-16   95.94   96.69   93.25   95.37   77300800      35.37
12 2000-03-17   95.25   99.50   94.50   99.37   81161600      36.86
13 2000-03-20   98.75   99.75   96.50   97.37   47773000      36.12
14 2000-03-21   96.75  103.12   96.50  102.75   81648800      38.11
15 2000-03-22  102.81  105.62  101.12  103.25   93975800      38.30
16 2000-03-23  106.81  112.87  106.62  111.87  148224000      41.49
17 2000-03-24  112.62  115.00  109.56  111.69  112196800      41.43
18 2000-03-27  107.77  108.25  103.94  104.06  111434000      38.60
19 2000-03-28  103.62  107.44  102.37  104.31   81114400      38.69
20 2000-03-29  105.19  108.94  105.12  107.19   64363800      39.76
21 2000-03-30  106.19  108.62  102.50  103.37   64178400      38.34
22 2000-03-31  106.00  108.25  104.12  106.25   64281400      39.41
23 2000-04-03   94.44   96.50   90.00   90.87  260118200      33.71
24 2000-04-04   91.56   92.00   84.94   88.56  181244400      32.85
25 2000-04-05   88.25   88.50   85.87   86.37   82887600      32.04
26 2000-04-06   87.87   88.00   85.27   86.00   66421400      31.90
27 2000-04-07   87.00   89.37   85.00   89.06   82613600      33.03
28 2000-04-10   88.62   88.62   86.00   86.06   60685400      31.92
29 2000-04-11   85.12   86.06   83.50   83.87   71961800      31.11
30 2000-04-12   82.12   82.25   78.75   79.37  153003800      29.44
31 2000-04-13   80.87   82.25   79.00   79.25   94316200      29.40
32 2000-04-14   79.12   79.50   73.25   74.12  151217800      27.49
33 2000-04-17   74.25   76.00   73.00   75.87  119772200      28.14
34 2000-04-18   76.50   81.94   75.87   80.56   91794600      29.88
35 2000-04-19   81.44   81.50   78.12   78.69   53715400      29.19
36 2000-04-20   78.62   79.87   77.50   78.94   52387400      29.28
37 2000-04-24   67.25   68.00   65.00   66.62  313645800      24.71
38 2000-04-25   68.75   69.50   67.62   69.37  159517400      25.73
39 2000-04-26   70.00   71.12   67.37   68.00  107091200      25.22
40 2000-04-27   67.44   69.94   67.37   69.81   77669800      25.89
41 2000-04-28   70.75   71.00   68.25   69.75   78082600      25.87
42 2000-05-01   72.87   74.00   71.69   73.44  107811000      27.24
43 2000-05-02   72.81   73.50   69.50   69.87   97716200      25.92
44 2000-05-03   70.37   70.81   68.81   70.56   55354800      26.17
45 2000-05-04   70.31   71.25   69.31   70.44   43317200      26.13
46 2000-05-05   70.25   71.81   69.87   71.12   36402200      26.38
47 2000-05-08   70.94   71.37   69.69   69.81   36187600      25.89
48 2000-05-09   70.19   70.44   67.50   67.81   60778400      25.15
49 2000-05-10   67.75   67.87   65.75   66.19   67740000      24.55

# Plot the candlestick chart

In [9]:
inc = df.close > df.open
dec = df.open > df.close
w = 12*60*60*1000 # half day in ms

TOOLS = "pan,wheel_zoom,box_zoom,reset,save"

p = figure(x_axis_type="datetime", tools=TOOLS, plot_width=1000, title = "MSFT Candlestick")
p.xaxis.major_label_orientation = pi/4
p.grid.grid_line_alpha=0.3

p.segment(df.date, df.high, df.date, df.low, color="black")
p.vbar(df.date[inc], w, df.open[inc], df.close[inc], fill_color="#D5E1DD", line_color="black")
p.vbar(df.date[dec], w, df.open[dec], df.close[dec], fill_color="#F2583E", line_color="black")

show(p)